@import '../../styles/variables.scss';

.img{
    height:230px;
    width: 200px;
    border: 5px solid rgba($color: #000000, $alpha: .5);
    padding:20px;

}
.container{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.prices{
    color:black;
    margin-top:10px;
    padding:3px;
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
}
.a{
    text-decoration: none;
    color:black;
}